{% extends 'base.html.twig' %}

{% block body %}
<div class="col-6 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Cantine APP</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bienvenu dans votre application de gestion de vos bambin à la cantine</p>
    </div>
  </div>
{% endblock %}
